body{
	background-color: #f5f5f5;
}
.topbar{
	position: static;
}
.safeTip{
	width:100%;
	height: 34px;
	line-height: 34px;
	font-size: 13px;
	text-align: center;
	background: #fff;
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 80px;
}
.safeTip p{
	display: inline-block;
	position: relative;
	margin:0;
}
.safeTip p::before{
	content: " ";
	display: block;
	width: 18px;
	height: 18px;
	background:url("../../img/safe_icon.png") no-repeat;
	background-size: 18px 18px;
	position:absolute;
	left: -20px;
	top:8px;
}
/***复选框
**/
.check_box{
	height: 20px;
	width: 20px;
	display: block;
	background: url("../../img/shop-icon.png") no-repeat;
	background-size: 50px 100px;
	background-position: 0 0;
	z-index: 1001;
}
.check_box[checked]{
	background-position: -25px 0;
}
/***店铺头部**/
.shop{
	margin-top: 10px;
	background: #fff;
	margin-top:-70px;
	margin-bottom: 80px;

}
.shop .shop_tit{
	height: 37px;
	border-bottom: 1px solid #e0e0e0;
	border-top: 1px solid #e0e0e0;
}
.shop .shop_tit .tit_box{
	width: 40px;
	height: 35px;
	position: absolute;
}
.shop .shop_tit .tit_box .check_box{
	position: absolute;
	top:7px;
	left:10px;
}
.tit_box,.tit_name{
	float: left;
}
.tit_name{
	width: 100%;
	padding-left:40px;
}
.shop .shop_tit .tit_name .imgLogo{
	width: 15px;
	height: 13px;
	display: block;
	float: left;
	margin-top: 11px;
}
.shop .shop_tit .tit_name .name{
	float: left;
	font-size: 13px;
	margin-top: 8px;
}
.shop .shop_tit .tit_name .tip{
	float: right;
	color: #d8505c;
	margin-right: 10px;
	margin-top:8px;
}
/**商品*/
.shop .shop_con{
	border-bottom: 1px solid $e0e0e0;
	position: relative;
}

.shop .shop_con .con_check{
	position: absolute;
	width: 40px;
	top:20px;
	left:10px;
}

.shop .shop_con .con_product{
	margin-top: 10px;
	padding-left: 40px;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.shop .shop_con .con_product .con_product_img{
	float: left;
	width: 80px;
	height: 80px;
	display: block;
	position: absolute;
}

.shop .shop_con .con_product .con_product_img img{
	width: 100%;
	height: 100%;
	display: block;
}
.shop .shop_con .con_product .con_product_box{
	width: 100%;
	padding-left:90px;
}
.shop .shop_con .con_product .con_product_box .name{
	font-size: 13px;
	width: 100%;
	height: 30px;
	line-height: 15px;
	overflow:hidden;
	display: block;
	float: left;
}

.shop .shop_con .con_product .price,.option{
	margin-top: 5px;
	display: block;
}

.shop .shop_con .con_product .option{
	width: 100%;
    height: 24px;
    margin-top: 5px;
}
.shop .shop_con .con_product .option .change_box{
	float: left;
}
.shop .shop_con .con_product .option .change_box .change_box_left{
	width: 32px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    text-align: center;
}
.shop .shop_con .con_product .option .change_box input{
	width: 32px;
    height: 24px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
}
.shop .shop_con .con_product .option .change_box .change_box_right{
	width: 32px;
    height: 24px;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    display: block;
    float: left;
    text-align: center;
}
.shop .shop_con .con_product .delete_box{
	float: right;
	margin-top: -20px;
}
.shop .shop_con .con_product .delete_box .delete_box_top{
	width: 20px;
    height: 5px;
    background: url("../../img/delete_up.png") no-repeat;
    background-size: 20px 5px;
    margin-left: -1px;
}

.shop .shop_con .con_product .delete_box .delete_box_bot{
	width: 18px;
    height: 18px;
    background: url("../../img/delete_down.png") no-repeat;
    background-size: 18px 18px;
    margin-top: -3px;
}
/*金额操作*/
.amount{
	position: fixed;
	left: 0;
	bottom: 0;
	height: 62px;
	background:rgba(0,0,0,0.8); 
	width: 100%;
}
.amount .amount_check{
	position: absolute;
	width: 80px;
	height: 62px;
	line-height: 62px;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding-left: 35px;
}
.amount .amount_check .check_box{
	position: absolute;
	top:20px;
	left:10px;
}
.amount .amount_info{
	padding-left: 80px;
	padding-right: 120px;
	position: absolute;
}
.amount .amount_info .sum{
	padding:0;
	margin:0;
	margin-top: 5px;
	font-size: 23px;
	font-weight: 900;
	color: #fff;
}
.amount .amount_info .other{
	padding:0;
	margin:0;
	margin-top: 5px;
	font-size: 15px;
	color: #fff;
}
.amount .amount_submit{
	float: right;
	width: 120px;
	height: 62px;
	line-height: 62px;
	text-align: center;
	background-color: #d8505c;
	font-weight: 900;
	font-size: 23px;
	color: #fff;
}

.amount .amount_submit span{
	font-size: 18px;
}
/***弹出层***/
.win{
	height: 100%;
	width: 100%;
	position: fixed;
	top:0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	z-index: 1001;
}
.win .win_box{
	width: 85%;
	border:1px solid #fff;
	background: #fff;
	border-radius: 4px;
	margin:10px auto;
	padding:5px;

}
.win .win_box .win_box_text{
	height: 75px;
	color:#666;
	text-align: center;
	padding-top:10px;
	font-size: 20px;
}

.win .win_box .btn_box{
	font-size: 17px;
	font-weight: 700;
}

.win .win_box .btn_box .cancel{
	width: 45%;
	height: 36px;
	display: block;
	float: left;
	margin-right:10%;
	background: #fff;
	border: 1px solid #e0e0e0;
	text-align: center;
	border-radius: 4px;
	line-height: 36px;
	color: #888;
}
.win .win_box .btn_box .submit{
	width: 45%;
	height: 36px;
	display: block;
	float: left;
	background: #d8505c;
	border-radius: 4px;
	text-align: center;
	line-height: 36px;
	color: #fff;
}
@-webkit-keyframes jumpOut{
	0%{
		opacity: 0;
		transform: translateY(-2000px);
		-webkit-transform: translateY(-2000px);
	}
	60%{
		opacity: 0;
		transform: translateY(30px);
		-webkit-transform: translateY(30px);
	}
	75%{
		opacity: 0;
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
	}
	90%{
		transform: translateY(5px);
		-webkit-transform: translateY(5px);
	}
	100%{
		opacity: 1;
		transform: none;
		-webkit-transform: none;
	}
}
.jumpOut{
	animation: jumpOut 1s ease;
}