body{
	height: 100%;
	width: 100%;
	position: absolute;
}
.category{
	height: 100%;
	width: 100%;
	padding-top: 45px;
}
.left_category{
	width: 90px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 45px;
	z-index: 0;
}
.left_category .left_category_box ul{
	-webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;

}
.left_category .left_category_box ul li{
	height: 50px;
    width: 90px;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    line-height: 49px;
    text-align: center;
    background: #f3f4f6;
}
.left_category .left_category_box ul li.now{
	background-color: #fff;
}

.left_category .left_category_box ul li.now a{
	color: #d8505c;
}
.left_category .left_category_box ul li a{
	color: #000;
    font-family: sans-serif;
    font-size: 12px;
    display: block;
}
.right_category{
	background-color: #fff;
	width: 100%;
	padding-left: 90px;
	height: 100%;
}
.right_category .right_category_con{
	padding: 10px 12px;
}
.right_category .right_category_con .banner{
    width: 100%;
}
.right_category .right_category_con .banner img{
    width: 100%;
}
.right_category .right_category_con .catType{
	font-size: 12px;
    font-family: sans-serif;
    margin-top: 10px;
}
.right_category .right_category_con .catType h3{
	line-height: 20px;
    font-size: 12px;
    color: #888;
}
.right_category .right_category_con .catType ul li{
	width: 33.33%;
    text-align: center;
    float: left;
    margin-top: 10px;
}
.right_category .right_category_con .catType ul li img{
	height: 62px;
}
.right_category .right_category_con .catType ul li p{
	line-height: 20px;
}